.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.input {
    display: none;
}

.input-label {
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px dashed var(--primary);
    padding: 20px;
}

.input-label-buttom {
    display: inline-block;
    width: 30%;
    color: #fff;
    background-color: var(--primary);
    text-align: center;
    padding: 10px 30px;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}
.input-label-buttom:active {
    transform: scale(0.9);
}
