.container {
    height: 100%;
    display: flex;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 750px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 60px;
        left: 100%;
        height: 650px;
        width: 1px;
        background-color: #ccc;
    }
}

.camera {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
}

.complete {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
}
