.wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.logo {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
}

.tittle {
    margin-left: 10px;
    font-size: 4rem;
}

.content {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}
